
server:
  port: 9006

spring:
  application:
    name: contact-mgnt

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      maximum-pool-size: 10
      idle-timeout: 30000
      connection-timeout: 30000
